@model Trash

@{
    ViewData["Title"] = "Törlés";
    var previousPage = ViewData["previousPage"];
}

<div class="container">
    <h1>@Html.DisplayFor(_ => Model.Id). szemétpont</h1>
    <h3>Biztosan törölni szeretné ezt a pontot?</h3>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(_ => previousPage)
        <a class="btn btn-success" href="@previousPage">
            <i class="fa-solid fa-arrow-left"></i> Vissza
        </a>
        <span data-bs-title="@(Model.TrashoutId != null ? "Nem törölhető" : "")"
              data-bs-toggle="@(Model.TrashoutId != null ? "tooltip" : "")"
              data-bs-trigger="hover focus">
            <button type="submit"
                    class="btn btn-danger @(Model.TrashoutId != null ? "disabled" : "")">
                <i class="fa-solid fa-trash-can"></i> Törlés
            </button>
        </span>
    }
</div>
