@using TrashTracker.Data.Models.Enums
@model TrashEdit

@{
    ViewData["Title"] = "Edit";
    var previousPage = ViewData["previousPage"];
}

<div class="container">
    <h1>@Html.DisplayFor(m => m.Id). szemétpont szerkesztése</h1>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(_ => previousPage)
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <legend>Lokáció</legend>
        <div class="form-group m-3">
            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        @Html.EditorFor(_ => Model.Lat, "",
                                 new
                                 {
                                     htmlAttributes = new
                                     {
                                         @class = "form-control",
                                         placeholder = ""
                                     }
                                 })
                        @Html.LabelFor(_ => Model.Lat)
                        @Html.ValidationMessageFor(_ => Model.Lat, "",
                                 new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        @Html.EditorFor(_ => Model.Long, "",
                                 new
                                 {
                                     htmlAttributes = new
                                     {
                                         @class = "form-control",
                                         placeholder = ""
                                     }
                                 })
                        @Html.LabelFor(_ => Model.Long)
                        @Html.ValidationMessageFor(_ => Model.Long, "",
                                 new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-auto">
                    <button class="btn btn-primary" onclick="getPosition(); return false;">
                        <i class="fa-solid fa-location-crosshairs"></i> Jelenlegi hely meghatározása
                    </button>
                </div>
            </div>
        </div>
        <legend>Település</legend>
        <div class="form-group m-3">
            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        @Html.EditorFor(_ => Model.Locality, "",
                                 new
                                 {
                                     htmlAttributes = new
                                     {
                                         @class = "form-control",
                                         placeholder = ""
                                     }
                                 })
                        @Html.LabelFor(_ => Model.Locality)
                        @Html.ValidationMessageFor(_ => Model.Locality, "",
                                 new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        @Html.EditorFor(_ => Model.SubLocality, "",
                                 new
                                 {
                                     htmlAttributes = new
                                     {
                                         @class = "form-control",
                                         placeholder = ""
                                     }
                                 })
                        @Html.LabelFor(_ => Model.SubLocality)
                        @Html.ValidationMessageFor(_ => Model.SubLocality, "",
                                 new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <legend>@Html.LabelFor(m => m.Size)</legend>
        <div class="form-group m-3">
            @Html.DropDownListFor(m => m.Size,
                     new List<SelectListItem>(((Size[])Enum.GetValues(typeof(Size)))
                     .Select(s => new SelectListItem()
        {
            Value = s.ToString(),
            Text = EnumHelper<Size>.GetDisplayValue(s)
        })),
                     new { @class = "form-select" })
        </div>
        <legend>Hozzáférhetőség</legend>
        <div class="form-group m-3">
            @foreach (var value in Enum.GetValues<Accessibility>())
            {
                @Html.CheckBox(value.ToString(),
                         (Boolean)Model.GetType().GetProperty($"{value}")!.GetValue(Model, null)!,
                         new
                         {
                             @class = "btn-check",
                             id = $"{nameof(Accessibility)}.{value}",
                             name = $"{nameof(Accessibility)}.{value}"
                         })
                var displayValue = EnumHelper<Accessibility>
                .GetDisplayValue(value);
                var displayIconClass = EnumHelper<Accessibility>
                .GetDisplayIconClass(value);
                @Html.IconLabelFor(_ => value, displayValue, displayIconClass,
                         new
                         {
                             @class = "btn btn-outline-primary me-2",
                             @for = $"{nameof(Accessibility)}.{value}"
                         })
            }
        </div>
        <legend>Szeméttípusok</legend>
        <div class="form-group m-3">
            @foreach (var value in Enum.GetValues<TrashType>())
            {
                @Html.CheckBox(value.ToString(),
                         (Boolean)Model.GetType().GetProperty($"{value}")!.GetValue(Model, null)!,
                         new
                         {
                             @class = "btn-check",
                             id = $"{nameof(Accessibility)}.{value}",
                             name = $"{nameof(Accessibility)}.{value}"
                         })
                var displayValue = EnumHelper<TrashType>
                .GetDisplayValue(value);
                var displayIconClass = EnumHelper<TrashType>
                .GetDisplayIconClass(value);
                @Html.IconLabelFor(_ => value, displayValue, displayIconClass,
                         new
                         {
                             @class = "btn btn-outline-primary me-2",
                             @for = $"{nameof(Accessibility)}.{value}"
                         })
            }
        </div>
        <div class="form-group m-3">
            <div class="form-floating">
                @Html.EditorFor(m => m.Note,
                         new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                 placeholder = ""
                             }
                         })
                @Html.LabelFor(m => m.Note)
                @Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group m-3">
            <div class="row">
                <div class="col">
                    <a href="@previousPage" class="btn btn-secondary m-3">
                        <i class="fa-solid fa-arrow-left"></i> Vissza
                    </a>
                </div>
                <div class="col d-flex justify-content-end">
                    <button type="submit" class="btn btn-success m-3">
                        <i class="fa-solid fa-plus"></i> Bejelentés
                    </button>
                </div>
            </div>
        </div>
    }
</div>

<script src="~/js/trash.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
