@model IEnumerable<TrashTracker.Data.Models.Trash>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Forrás
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <th id="add">
                    <a asp-action="Create" class="btn btn-success">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @Html.HiddenFor(_ => item.UpdateNeeded)
                <tr>
                    <td>
                        @(item.TrashoutId != null
                            ? @Html.DisplayFor(_ => item.TrashoutId)
                            : @Html.DisplayFor(_ => item.User!.UserName))
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Location.X)<br />
                        @Html.DisplayFor(_ => item.Location.Y)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.CreateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.UpdateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Note)
                    </td>
                    <td>
                        <div class="btn-group btn-group-table">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                            @(item.TrashoutId != null
                                ? "" : Html.Raw("<a asp-action=\"Edit\" asp-route-id=\"@item.Id\"" +
                                "class=\"btn btn-warning\">" +
                                "<i class=\"fa-solid fa-pen-to-square\"></i></a>"))
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
