@model IEnumerable<Trash>

@{
    ViewData["Title"] = "Szemétpontok";
    Int32 id = (Int32)ViewData["id"]!;
    Int32 size = (Int32)ViewData["size"]!;
    Int32 max = (Int32)ViewData["max"]!;
}

<div class="container">
    <h1>Szemétpontok</h1>
    <nav>
        <ul class="pagination justify-content-center flex-nowrap">
            <li class="page-item @(id <= 1 ? "disabled" : "")">
                @Html.IconActionLink("", "fa-solid fa-angles-left", "Index", "Trashes",
                         new { id = 1, size = size },
                         new { @class = "page-link" })
            </li>
            <li class="page-item @(id <= 1 ? "disabled" : "")">
                @Html.IconActionLink("", "fa-solid fa-angle-left", "Index", "Trashes",
                         new { id = Math.Max(1, id - 1), size = size },
                         new { @class = "page-link" })
            </li>
            @for (Int32 i = Math.Max(1, id - 2); i <= Math.Min(id + 2, max); i++)
            {
                <li class="page-item  @(id == i ? "disabled" : "")">
                    @Html.ActionLink(i.ToString(), "Index", "Trashes",
                             new { id = i, size = size },
                             new { @class = "page-link" })
                </li>
            }
            <li class="page-item @(id >= max ? "disabled" : "")">
                @Html.IconActionLink("", "fa-solid fa-angle-right", "Index", "Trashes",
                         new { id = Math.Min(id + 1, max), size = size },
                         new { @class = "page-link" })
            </li>
            <li class="page-item @(id >= max ? "disabled" : "")">
                @Html.IconActionLink("", "fa-solid fa-angles-right", "Index", "Trashes",
                         new { id = max, size = size },
                         new { @class = "page-link" })
            </li>
        </ul>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Forrás
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <th class="text-end">
                    @Html.IconActionLink("", "fa-solid fa-plus", "Create", "Trashes", new(),
                             new
                             {
                                 @class = "btn btn-success",
                                 data_bs_toggle = "tooltip",
                                 data_bs_title = "Hozzáadás"
                             })
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @Html.HiddenFor(_ => item.UpdateNeeded)
                <tr>
                    <td>
                        @(item.TrashoutId != null
                            ? @Html.DisplayFor(_ => item.TrashoutId)
                            : @Html.DisplayFor(_ => item.User!.UserName))
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Location.X)<br />
                        @Html.DisplayFor(_ => item.Location.Y)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.CreateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.UpdateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Note)
                    </td>
                    <td>
                        <div class="btn-group btn-group-table">
                            @Html.IconActionLink("", "fa-solid fa-circle-info", "Details", "Trashes",
                                     new { id = item.Id },
                                     new
                                     {
                                         @class = "btn btn-info",
                                         data_bs_toggle = "tooltip",
                                         data_bs_title = "Részletek"
                                     })
                            @Html.IconActionLink("", "fa-solid fa-pen-to-square", "Edit", "Trashes",
                                     new { id = item.Id },
                                     item.TrashoutId != null
                                     ? new { @class = "btn btn-warning disabled" }
                                     : new
                                     {
                                         @class = "btn btn-warning",
                                         data_bs_toggle = "tooltip",
                                         data_bs_title = "Módosítás"
                                     })
                            @Html.IconActionLink("", "fa-solid fa-trash-can", "Delete", "Trashes",
                                     new { id = item.Id },
                                     item.TrashoutId != null
                                     ? new { @class = "btn btn-danger disabled" }
                                     : new
                                     {
                                         @class = "btn btn-danger",
                                         data_bs_toggle = "tooltip",
                                         data_bs_title = "Törlés"
                                     })
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
