@model IEnumerable<TrashTracker.Data.Models.Trash>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Index</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-sm-end">
        <a asp-action="Create" class="btn btn-success"><i class="fa-solid fa-plus"></i> Új</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Forrás
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdateNeeded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(item.TrashoutId != null
                            ? @Html.DisplayFor(modelItem => item.TrashoutId)
                            : @Html.DisplayFor(modelItem => item.User!.UserName))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.X)<br />
                        @Html.DisplayFor(modelItem => item.Location.Y)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateNeeded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td class="btn-group">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
                            <i class="fa-solid fa-info"></i>
                        </a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
