@model UserDetails
@{
    ViewData["title"] = "Profil";
}

<div class="container">
    <h1>@ViewData["title"]</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.UserName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.UserName)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Email)</dt>
        <dd class="col-sm-10">
            @if (!Model.EmailConfirmed)
            {
                <i class="text-danger">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    @Html.DisplayFor(m => m.Email)
                </i>
            }
            else
            {
                @Html.DisplayFor(m => m.Email)
            }
        </dd>
    </dl>
</div>