@using TrashTracker.Data.Models.Enums
@{
    ViewData["Title"] = "Kezdőlap";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v9.0.0/ol.css">

<div id="map" class="map z-n1"></div>
<div id="popup"></div>
<div id="filter" class="z-0">
    <a class="btn btn-primary position-absolute bottom-0 start-0"
       data-bs-toggle="offcanvas" data-bs-target="#filter-menu">
        <i class="fa-solid fa-filter"></i>
    </a>
    <a class="btn btn-primary position-absolute bottom-0 end-0"
       data-bs-toggle="offcanvas" data-bs-target="#filter-menu">
        <i class="fa-solid fa-filter"></i>
    </a>
    @Html.IconActionLink("", "fa-solid fa-download", "./TrashCsv",
            new { @class = "btn btn-success position-absolute bottom-0 end-0" })
    <aside id="filter-menu" class="offcanvas offcanvas-bottom" tabindex="-1"
           data-bs-backdrop="false">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Szűrés</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <legend>Hozzáférhetőség</legend>
                        @foreach (var value in Enum.GetValues<Accessibility>())
                        {
                            <input type="checkbox" class="btn-check accessibility" id="@value"
                                   checked onclick="filter()">
                            <label class="btn btn-outline-primary" for="@value">
                                <i class="@(EnumHelper<Accessibility>.GetDisplayIconClass(value))"></i>
                                <br />
                                @Html.Raw(EnumHelper<Accessibility>.GetDisplayValue(value))
                            </label>
                        }
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <legend>Méret</legend>
                        @foreach (var value in Enum.GetValues<Size>())
                        {
                            <input type="checkbox" class="btn-check size" id="@value"
                                   checked onclick="filter()">
                            <label class="btn btn-outline-primary" for="@value">
                                <i class="@(EnumHelper<Size>.GetDisplayIconClass(value))"></i>
                                <br />
                                @Html.Raw(EnumHelper<Size>.GetDisplayValue(value))
                            </label>
                        }
                    </fieldset>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <fieldset>
                        <legend>Állapot</legend>
                        @foreach (var value in Enum.GetValues<Status>())
                        {
                            <input type="checkbox" class="btn-check status" id="@value"
                                   checked onclick="filter()">
                            <label class="btn btn-outline-primary" for="@value">
                                <i class="@(EnumHelper<Status>.GetDisplayIconClass(value))"></i>
                                <br />
                                @Html.Raw(EnumHelper<Status>.GetDisplayValue(value))
                            </label>
                        }
                    </fieldset>
                </div>
                <div class="col-md-8">
                    <fieldset>
                        <legend>Típus</legend>
                        @foreach (var value in Enum.GetValues<TrashType>())
                        {
                            <input type="checkbox" class="btn-check type" id="@value"
                                   checked onclick="filter()">
                            <label class="btn btn-outline-primary" for="@value">
                                <i class="@(EnumHelper<TrashType>.GetDisplayIconClass(value))"></i>
                                <br />
                                @Html.Raw(EnumHelper<TrashType>.GetDisplayValue(value))
                            </label>
                        }
                    </fieldset>
                </div>
            </div>
        </div>
    </aside>
</div>

<script src="https://cdn.jsdelivr.net/npm/ol@v9.0.0/dist/ol.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/home.js"></script>