<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" id="html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrashTracker.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TrashTracker.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-body border-bottom box-shadow">
            <div class="container-fluid">
                @Html.ActionLink("TrashTracker", "Index", "Home", new(),
                         new { @class = "navbar-brand" })
                <button class="navbar-toggler text-end" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @Html.IconActionLink("Térkép", "fa-solid fa-map", "Index", "Home",
                                     new(), new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.IconActionLink("Lista", "fa-solid fa-list", "", "Trashes",
                                     new(), new { @class = "nav-link" })
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        @await Html.PartialAsync("_LoginPartial")
                        <li class="nav-item d-inline-flex align-items-center ms-3">
                            <i class="fa-solid fa-moon"></i>
                            <div class="form-check form-switch ms-2">
                                <input class="form-check-input" id="theme-switch"
                                       type="checkbox">
                            </div>
                            <i class="fa-solid fa-sun"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid p-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="https://kit.fontawesome.com/266bea2642.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
